.log {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	padding: 2px;
	
	background: #ddd;
	border: 4px solid #777;
	font-size: 80%;
}

.log p {
	margin-top: 3px;
	border-bottom: 1px dashed #444;
}

.log p.log_header {
	margin-bottom: 5px;
	margin-top: 0px;
	font-weight: bold;
	border-bottom: 1px solid #444;
}
.log p.log_name {
	margin-bottom: 0px;
	font-weight: bold;
	border-bottom: 1px solid #444;
}