/*!
 * log.js
 * Copyright 2010-14, Neil Donaldson
 * 
 * see Readme.md for version information
 
*/
.log {
	/*display: inline;*/
	float: left;
	margin: 0 5px 0 0; padding: 0;
	
	background: #ddd;
	border: 4px solid #777;
	font-size: 80%;
}

.log p.header {
	margin: 0 0 10px 0; padding: 0;
	font-weight: bold;
	border-bottom: 1px solid #444;
}
.log p.footer {
	margin: 10px 0 0 0; padding: 0;
	text-align:right;
	font-size: 70%;
	border-bottom: none;
}

.log #w {
	margin: 10px; padding: 0 0 0 10px;
}
.log #w p {
	margin: 0; padding: 0;
	
}
.log #w p.system {
	margin: 0; padding: 0 0 0 5px;
	font-size: 85%;
}
